VITE_API_BASE_URL=http://localhost:8000
VITE_2GIS_REVIEWS_URL=https://2gis.ru/yakutsk/firm/7037402698862520/tab/reviews
VITE_2GIS_CARD_URL=https://2gis.ru/yakutsk/firm/7037402698862520
VITE_2GIS_COMPANY_NAME=МебельКомплект
VITE_2GIS_ADDRESS=Окружная дорога, 59/1Б, Якутск
VITE_2GIS_RATING=4.0
VITE_2GIS_REVIEWS_COUNT=233
